<% content_for :title do %>
  <h1>新規アカウントを作成</h1>
  <br>
  <p>簡単に登録できます</p>
<% end %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>

  <%= f.text_field :name, placeholder: 'お名前' %>

  <%= f.email_field :email, placeholder: 'メールアドレス' %>
<div class="birthday">
  <%= f.label :birthday, "お誕生日", class:'birthday_select' %>
  <%= raw sprintf(
            f.date_select(
              :birthday,
              use_month_numbers: true,
              start_year: 1930,
              end_year: (Time.now.year - 18),
              default: Date.new('1990-1-1'.to_date),
              date_separator: '%s'),
              '年 ', '月 ') + '日生まれ' %>
</div>
  <%= f.label :gender, "性別", class:'gender_select' %>
  <div class= "gender_parent">
    <span><%= f.radio_button :gender, 1, class:'radio_button' %></span>
    <span><%= f.label :gender, "男", class:'label man' %></span>
    <span><%= f.radio_button :gender, 2, class:'radio_button' %></span>
    <span><%= f.label :gender, "女", class:'label woman' %></span>
    <span><%= f.radio_button :gender, 3, class:'radio_button' %></span>
    <span><%= f.label :gender, "カスタム", class:'label other' %></span>
  </div>
    <%= f.password_field :password, placeholder: 'パスワード' %>
    <%= f.password_field :password_confirmation, placeholder: '確認用パスワード' %>
    <%= f.submit "アカウントを作成", class:'button' %>
<% end %>
