<% content_for :title do %>
  <div class="clearfix profile_bar">
    <div class="profile_name"><%= @user.name %>のページ
    <div class="profile_icon">
    <% if @user.image? %>
      <%= image_tag @user.image.thumb.url %>
    <% else %>
      <%= image_tag "/assets/default.jpg" %>
    <% end %>
    </div>
    </div>
  </div>
<% end %>
<div class="profile_content">
  <table>
    <tr>
      <th>メールアドレス:</th><td><%= @user.email %></td>
    </tr>
    <tr>
      <th>誕生日:</th><td><%= @user.birthday %></td>
    </tr>
    <tr>
      <th>性別:</th><td><%= gender_view(@user.gender) %></td>
    </tr>
  </table>
</div>
<% if logged_in? %>
  <%= link_to "編集する", edit_user_path(current_user), class:'button login' %>
<% else %>
  <%= link_to "ログインする", new_session_path, class:"button login" %>
<% end %>
