<% content_for :title do %>
  <div class="profile_bar">
    <div class="image_small">
      <%= form_with(model: @user, local: true, url: choose_new_or_edit) do |form| %>
        <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
        <%= form.file_field :image, class:"image_upload" %>
        <%= form.hidden_field :image_cache %>
      <%= end %>
    </div>
    <h1><%= @user.name %>のページ</h1>
  </div>
<% end %>
<div class="profile_content">
  <table>
    <tr>
      <th>メールアドレス:</th><td><%= @user.email %></td>
    </tr>
    <tr>
      <th>誕生日:</th><td><%= @user.birthday %></td>
    </tr>
    <tr>
      <th>性別:</th><td><%= gender_view(@user.gender) %></td>
    </tr>
  </table>
</div>
